.surf-spot {
  background-color: $color-green;
  color: #555;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 2rem;
  margin-right: 0.5rem;
  padding: 1rem;
  height: 6rem;
  gap: 1rem;
  border-radius: $border-radius;

  &:hover,
  &:active,
  &-active {
    background-color: $color-green-dark;
    color: white;
  }
}
