.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  min-height: 50vh;
  max-width: 80rem;
  width: 90%;
  border-radius: $border-radius;
  padding: 2rem 3rem;
  background-color: rgba($color-background, 0.95);
  color: aliceblue;

  &__close:active,
  &__close:link {
    position: absolute;
    padding: 2px 8px;
    font-size: 1.2rem;
    right: 2%;
    top: 5%;
  }
}
