.sessions {
  &__spotname {
    justify-self: center;
    align-self: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 10px;
  }

  &__item {
    font-size: 1.4rem;
  }
}

.button {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #555;
}

////////////// MODAL //////////////////////
///
///
.modal-header {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 2rem;
}

.add__session {
  &-spot {
    font-size: 1.4rem;
    text-decoration: underline;
    text-transform: uppercase;
  }

  & h5 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.add__spot {
  & h5 {
    font-size: 1.4rem;
  }
}
