.sessions {
  &__spotname {
    justify-self: center;
    align-self: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 10px;
  }

  &__item {
    font-size: 1.4rem;
  }
}

.button {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #555;
}
